{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <!-- Navbar Transparent -->

  <!-- End Navbar -->
  <!-- End Navbar -->
  <section class="my-10">
    <div class="container">
      <div class="row">
       
        <div class="col-lg-6 my-auto">
          <h1 class="display-1 text-bolder text-gradient text-danger">Bienvenu</h1>
          <h2>notre site cleo-capital.com est en construction...</h2>
          <p class="lead">Nous serons de nouveau en ligne dans quelques jours</p>
        </div>
        <div class="col-lg-6 my-auto position-relative">
          <img class="w-100 position-relative" src="{{asset('theme//assets/img/illustrations/error-404.png')}}" alt="404-error">
        </div>
      </div>
    </div>
  </section>


{% endblock %}
